* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(192, 192, 192, 0.4)
        ),
        url("car.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
}

/* Logo */

.logo {
    position: absolute;
    top: 25px;
    left: 35px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 215, 0, 0.7));
}

.logo h1 {
    font-size: 55px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.drive {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.2);
}

.elite {
    color: #d4af37;
    text-shadow: 2px 2px 5px rgba(212,175,55,0.3);
}

.logo-sub {
    color: whitesmoke;
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
}

/* Login Box */

.login-box {
    background: rgba(255,255,255,0.95);
    padding: 30px;
    border-radius: 12px;
    width: 370px;

    border: 2px solid transparent;

    box-shadow: 0 4px 15px rgba(0,0,0,0.3);

    transition: all 0.35s ease;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
}

.login-box input:focus {
    outline: none;
    border-color: #d4af37;
    box-shadow: 0 0 8px rgba(212,175,55,0.6);
}

/* Login Button */

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;

    background: #000;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover */

.login-box button:hover {
    background: #d4af37;
    color: #000;

    transform: translateY(-2px);

    box-shadow:
        0 0 12px rgba(212,175,55,0.7),
        0 0 25px rgba(212,175,55,0.4);
}

/* Click */

.login-box button:active {
    background: #ffd700;
    color: #000;

    transform: scale(0.96);

    box-shadow:
        0 0 18px rgba(255,215,0,0.9),
        0 0 35px rgba(255,215,0,0.6);
}

/* Login Box Glow Animation */

@keyframes goldGlow {
    0% {
        box-shadow:
            0 15px 35px rgba(0,0,0,0.4),
            0 0 10px rgba(212,175,55,0.4);
    }

    50% {
        box-shadow:
            0 15px 35px rgba(0,0,0,0.4),
            0 0 25px rgba(212,175,55,0.9);
    }

    100% {
        box-shadow:
            0 15px 35px rgba(0,0,0,0.4),
            0 0 10px rgba(212,175,55,0.4);
    }
}

.login-box:hover {
    transform: translateY(-10px) scale(1.03);

    border-color: #d4af37;

    animation: goldGlow 1.5s infinite;
}